<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Task Manager</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="side-nav">
  <mat-sidenav #sidenav mode="side">
    <div class="profile-content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>User Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon matListItemIcon>account_circle</mat-icon>
              <span matListItemTitle>John Doe</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>email</mat-icon>
              <span matListItemTitle>emailexample.com</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <div class="button-container">
        <button mat-fab extended (click)="openDialog()">
          <mat-icon>add</mat-icon>
          Add Task
        </button>
      </div>
      <app-task-list
        [tasks]="tasks"
        (addSubTask)="handleAddSubtask($event)"
        class="task-list-component"
      ></app-task-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
