.task-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 700px;
  margin-bottom: 24px;
}

.task-input {
  width: 100%;
}
