<!-- Atualização -->
<div class="task-container">
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let task of tasks; let i = index"
      class="task-card"
    >
      <mat-expansion-panel-header>
        <mat-checkbox [(ngModel)]="task.completed"></mat-checkbox>
        <mat-panel-title>
          {{ task.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ task.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Subtasks -->
      <div class="subtask-list">
        <div *ngFor="let subtask of task.subtasks; let j = index">
          <mat-checkbox [(ngModel)]="subtask.completed">
            {{ subtask.title }}
          </mat-checkbox>
        </div>

        <!-- Add Subtask -->
        <form (ngSubmit)="onAddSubtask(i)" class="subtask-form">
          <mat-form-field appearance="outline" style="flex: 1">
            <mat-label>New Subtask</mat-label>
            <input
              matInput
              [(ngModel)]="newSubtask[i]"
              name="subtaskTitle{{ i }}"
              class="subtask-input"
            />
          </mat-form-field>
          <button mat-button color="primary" type="submit">Add</button>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
