<!-- Atualização -->
<div class="task-container">
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let task of tasks; let i = index"
      class="task-card"
    >
      <mat-expansion-panel-header>
        <mat-checkbox [(ngModel)]="task.isCompleted"></mat-checkbox>
        <mat-panel-title style="font-size: large">
          {{ task.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h4 style="margin: 5px">Description:</h4>
      <p style="margin: 0">{{ task.description }}</p>

      <mat-chip-set>
        <mat-chip>
          {{ task.priority }}
        </mat-chip>
      </mat-chip-set>

      <!-- Subtasks -->
      <div class="subtask-list">
        <div *ngFor="let subtask of task.subtasks; let j = index">
          <mat-checkbox [(ngModel)]="subtask.isCompleted">
            {{ subtask.description }}
          </mat-checkbox>
        </div>

        <!-- Add Subtask -->
        <form (ngSubmit)="onAddSubtask(i)" class="subtask-form">
          <mat-form-field appearance="outline" style="flex: 1">
            <mat-label>New Subtask</mat-label>
            <input
              matInput
              [(ngModel)]="newSubtask[i]"
              name="subtaskTitle{{ i }}"
              class="subtask-input"
            />
          </mat-form-field>
          <button mat-button color="primary" type="submit">Add</button>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
